<p id="notice"><%= notice %></p>

<h1>Postions</h1>

<table>
  <thead>
    <tr>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postions.each do |postion| %>
      <tr>
        <td><%= postion.position %></td>
        <td><%= link_to 'Show', postion %></td>
        <td><%= link_to 'Edit', edit_postion_path(postion) %></td>
        <td><%= link_to 'Destroy', postion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Postion', new_postion_path %>
